{% extends "portal/base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Login to RCOS IO</h1>

        <form action="{% url 'magiclink:login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" method="post">
            {% csrf_token %}
            {{ login_form }}
            <button type='submit'>Send login email</button>
        </form>
        {% if debug %}
        <hr>
        <p class="has-text-grey">or</p>
        <hr>
        <form action="/auth/impersonate">
            <div class="field">
                <label for="email" class="label">Email</label>
                <div class="control">
                    <input type="email" name="email" class="input" required>
                </div>
            </div>
            <button type="submit" class="button">Login</button>
        </form>
        {% endif %}
    </div>
</section>
{% endblock %}