{% extends "portal/base.html" %}
{% load portal_extras %}

{% block ogp %}
<meta property="og:title" content="{{ small_group }} | RCOS IO" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="{{ small_group }} | Rensselaer Center for Open Source" />
<meta property="og:image" content="https://raw.githubusercontent.com/rcos/rcos-branding/master/img/lockup-red.png" />
{% endblock %}

{% block title %}
{{ small_group }} | RCOS IO
{% endblock %}

{% block content %}
<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">{{ small_group }}</h1>
            <h2 class="subtitle">{{ small_group.semester }}</h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <h2 class="subtitle is-3">
                    Mentors
                </h2>
                <ul>
                    {% for mentor in small_group.mentors.all %}
                    <li><a href="{{ mentor.get_absolute_url }}{% target_semester_query %}">{{ mentor }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column">
                <h2 class="subtitle is-3 mb-1">
                    Projects
                </h2>
                <small class="has-text-grey mb-2">{{ small_group.projects.all|length }} total</small>
                
                <div class="columns is-multiline mt-2">
                    {% for project in small_group.projects.all %}
                    <div class="column is-half">
                        <div class="card" style="height: 100%">
                            <div class="card-header">
                                <p class="card-header-title">{{ project }}</p>
                            </div>
                            <div class="card-content">
                                <div class="columns is-multiline">
                                    {% project_enrollments project small_group.semester as enrollments %}
                                    {% for enrollment in enrollments %}
                                    <div class="column is-half py-1">
                                        <a href="{{ enrollment.get_absolute_url }}">{{ enrollment.user }}</a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if request.user.is_superuser %}
        <hr>
        <div class="buttons">
            <a href="{% url 'admin:portal_smallgroup_change' small_group.pk %}" class="button">Edit in Admin</a>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}