{% extends "portal/base.html" %}
{% load portal_extras %}

{% block ogp %}
<meta property="og:title" content="{{ project.name }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="{{ project.description }}" />
{% if project.logo_url != '' %}
<meta property="og:image" content="{{ project.logo_url }}" />
{% else %}
<meta property="og:image" content="https://raw.githubusercontent.com/rcos/rcos-branding/master/img/lockup-red.png" />
{% endif %}
{% endblock %}

{% block title %}
{{ project }} | RCOS IO
{% endblock %}

{% block content %}

{% if not project.is_approved %}
<div class="notification is-warning mb-0">
    <div class="container">
        <span class="icon">⚠</span> <strong>{{ project }}</strong> is being reviewed and has not yet been approved to participate in RCOS.
    </div>
</div>
{% endif%}

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <div class="columns is-vcentered">
                        {% if project.logo_url != '' %}
                        <div class="column is-one-quarter">
                            <img class="image" src="{{ project.logo_url }}"/>
                        </div>
                        {% endif %}
                        <div class="column">
                            <h1 class="title is-1">{{ project }}</h1>
                        </div>
                    </div>
                    {% include "portal/includes/semester_select_form.html" with semesters=project.get_active_semesters %}
                </div>
                <div class="column is-5">
                    {% include "portal/projects/sections/overview.html" %}
                </div>
            </div>

            {% if project.description %}
            <div class="content">
                <blockquote class="has-background-dark">
                    <em>{{ project.description }}</em>
                </blockquote>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% if target_semester %}
<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{ target_semester }} Team</h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container ">
        
        <div class="is-flex mb-4">
            {% if is_owner_or_lead %}
            <form class="box mr-4" action="{% url 'modify_project_team' project.slug %}?action=add&semester={{ target_semester.pk }}" method="post">
                {% csrf_token %}
                <h4 class="is-size-4 mb-4">Add Team Member</h4>
                <div class="field">
                    <label class="label" for="rcs_id">RCS ID</label>
                    <div class="control">
                        <input class="input" type="text" name="rcs_id" id="rcs_id" placeholder="Type to search" list="enrolled_rcs_ids">
                        <datalist id="enrolled_rcs_ids">
                            {% for rcs_id in enrolled_rcs_ids %}
                            <option>{{ rcs_id }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                </div>
                <button class="button is-fullwidth" type="submit">Add</button>
            </form>
            {% endif %}
            
            <div class="is-flex-grow-1">
                {% include "portal/projects/sections/team.html" with enrollments=target_semester_enrollments %}
            </div>
        </div>
       

        {% if target_semester_enrollments|length == 0 %}
        <p class="has-text-grey"><b>{{ project }}</b> has no team for <b>{{ target_semester }}</b>!</p>
        {% endif %}

        {% project_documents project target_semester as project_docs %}
        <div id="documents">
            {% if project_docs.pitch %}
            <a href="{{ project_docs.pitch.url }}" class="button is-link" target="_blank"><span class="icon">🔗</span><span>Pitch Slides</span></a>
            {% elif is_owner_or_lead %}
            <a class="button is-warning" href="{% url 'projects_add_pitch' project.slug %}">Submit Project Pitch Slides</a>
            {% endif %}
            {% if project_docs.proposal %}
            <a href="{{ project_docs.proposal.url }}" class="button is-link" target="_blank"><span class="icon">🔗</span><span>Proposal</span></a>
            {% endif %}
            {% if project_docs.presentation %}
            <a href="{{ project_docs.presentation.url }}" class="button is-link" target="_blank"><span class="icon">🔗</span><span>Final Presentation</span></a>
            {% endif %}
        </div>
    </div>
</section>
{% else %}
<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Teams</h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        {% for semester, enrollments in enrollments_by_semester.items %}
        <h2 class="subtitle"><a href="?semester={{ semester.id }}">{{ semester }}</a></h2>
        {% include "portal/projects/sections/team.html" %}
        {% empty %}
        <p class="has-text-grey"><b>{{ project }}</b> has not formed any teams yet!</p>
        {% endfor %}
    </div>
</section>
{% endif %}

<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Repositor{{ repositories|length|pluralize:"y,ies" }}</h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        {% for repository in repositories %}
            {% include "./sections/repository.html" %}
        {% empty %}
        <p class="has-text-grey"><b>{{ project }}</b> has no source code repositories listed yet!</p>
        {% endfor %}
        
        
        {% if request.user.is_superuser %}
        <hr>
        <div class="buttons">
            <a href="{% url 'admin:portal_project_change' project.pk %}" class="button">Edit in Admin</a>
        </div>
        {% endif %}
    </div>

</section>

{% endblock %}
