{% extends "portal/base.html" %}
{% load markdownify %}

{% block content %}
<section class="section">
    <div class="container-fluid">
        <h1 class="title">{{ project }}</h1>
        <h2 class="subtitle">{{ target_semester|default:"All Semesters" }}</h2>



        <div class="columns">
            <div class="column">
                <div class="box">
                    <div class="content">
                        <p class="mb-5"><em>"{{ project.summary }}"</em></p>
                        <p>{{ project.description_markdown|markdownify }}</p>
                    </div>
                </div>
            </div>
            {% if target_semester%}
            {# Display details for project for this particular semester#}
            <div class="column"></div>
            {% else %}
            {# Display details for project across all semesters #}

            {% endif %}
        </div>
    </div>
</section>
{% endblock %}