{% extends "portal/base.html" %}
{% load portal_extras %}

{% block content %}

{% if not project.is_approved %}
<div class="notification is-warning mb-0">
    <div class="container">
        <span class="icon">⚠</span> <strong>{{ project }}</strong> is being reviewed and has not yet been approved to participate in RCOS.
    </div>
</div>
{% endif%}

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title is-1">{{ project }}</h1>
                    <nav class="breadcrumb is-2" aria-label="breadcrumbs">
                        <ul>
                            {% for semester in project.get_active_semesters %}
                            <li class="{% if target_semester == semester %}is-active has-text-weight-bold{% endif %}"><a href="?semester={{ semester.id }}">{{ semester }}</a></li>
                            {% endfor %}
                            <li class="{% if not target_semester %}is-active has-text-weight-bold{% endif %}"><a href="?semester=">All Semesters</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="column is-5">
                    {% include "portal/projects/sections/overview.html" %}
                </div>
            </div>
        </div>
    </div>
</section>

{% if target_semester %}
<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{ target_semester }} Team</h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        {% include "portal/projects/sections/team.html" with enrollments=target_semester_enrollments %}

        {% if target_semester_enrollments|length == 0 %}
        <p class="has-text-grey"><b>{{ project }}</b> has no team for <b>{{ target_semester }}</b>!</p>
        {% endif %}

        {% project_documents project target_semester as project_docs %}
        <div id="documents">
            {% if project_docs.pitch %}
            <a href="{{ project_docs.pitch.url }}" class="button is-link" target="_blank"><span class="icon">🔗</span><span>Pitch Slides</span></a>
            {% endif %}
            {% if project_docs.proposal %}
            <a href="{{ project_docs.proposal.url }}" class="button is-link" target="_blank"><span class="icon">🔗</span><span>Proposal</span></a>
            {% endif %}
            {% if project_docs.presentation %}
            <a href="{{ project_docs.presentation.url }}" class="button is-link" target="_blank"><span class="icon">🔗</span><span>Final Presentation</span></a>
            {% endif %}
        </div>
    </div>
</section>
{% else %}
<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Teams</h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        {% for semester, enrollments in enrollments_by_semester.items %}
        <h2 class="subtitle"><a href="?semester={{ semester.id }}">{{ semester }}</a></h2>
        {% include "portal/projects/sections/team.html" %}
        {% empty %}
        <p class="has-text-grey"><b>{{ project }}</b> has not formed any teams yet!</p>
        {% endfor %}
    </div>
</section>
{% endif %}

<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Repositor{{ repositories|length|pluralize:"y,ies" }}</h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        {% for repository in repositories %}
            {% include "./sections/repository.html" %}
        {% empty %}
        <p class="has-text-grey"><b>{{ project }}</b> has no source code repositories listed yet!</p>
        {% endfor %}
        
        
        {% if request.user.is_superuser %}
        <hr>
        <div class="buttons">
            <a href="{% url 'admin:portal_project_change' project.pk %}" class="button">Edit in Admin</a>
        </div>
        {% endif %}
    </div>

</section>

{% endblock %}
