<nav class="mb-5">
    <form id="filters">
        <div class="field is-grouped is-grouped-multiline is-align-items-center">
            <p class="control">
                {% include "portal/includes/semester_select.html" %}
            </p>

            <p class="control">
                {% include "portal/includes/organization_select.html" %}
            </p>

            <p class="control mb-3">
                <label class="checkbox">
                    <input
                        type="checkbox"
                        name="is_seeking_members"
                        value="yes"
                        {% if is_seeking_members %} checked {% endif %}
                    />
                    Seeking Members?
                </label>
            </p>

            <p class="control is-expanded">
                <input type="search" id="search" name="search" class="input"
                    placeholder="By name, project lead, technologies, etc." value="{{ search|default:'' }}" />
            </p>

            <p class="control">
                <button class="button">
                    Search
                </button>
            </p>

            <p class="control">
                {% if user.is_authenticated %}
                    <a
                        class="button is-success"
                        {% if can_create_project_check.passed %}
                        href="{% url 'project_lead_index' %}"
                        {% else %}
                        disabled
                        title="{{ can_create_project_check.fail_reason }} {{ can_create_project_check.fix }}"
                        {% endif %}
                    >Lead Project</a>
                {% endif %}
            </p>
        </div>
    </form>
</nav>
