<nav class="level">
    <form class="level-left">
        <input type="hidden" name="semester" value="{{ target_semester.id|default:'' }}">
        <div class="level-item">
            <p class="subtitle is-6">
                <strong>{{ projects_rows|length }}</strong> result{{ projects_rows|pluralize }}
            </p>
        </div>
        {% if target_semester and target_semester.is_active %}
        <div class="level-item">
            <label class="checkbox">
                <input
                    type="checkbox"
                    name="is_seeking_members"
                    value="yes"
                    {% if is_seeking_members %} checked {% endif %}
                />
                Seeking Members?
            </label>
        </div>
        {% endif %}
        <div class="level-item">
            <div class="field has-addons">
                <p class="control">
                    <input type="search" id="search" name="search" class="input"
                        placeholder="By name, project lead, tags" value="{{ search|default:'' }}" />
                </p>
                <p class="control">
                    <button class="button">
                        Search
                    </button>
                </p>
            </div>
        </div>
    </form>

    <div class="level-right">
        {% for semester in semesters %}
        <p class="level-item">
            {% if target_semester == semester %}
            <strong>{{ semester }}</strong>
            {% else %}
            <a href="?semester={{ semester.id }}">{{ semester }}</a>
            {% endif %}
        </p>
        {% endfor %}
        <p class="level-item">
            {% if target_semester %}
            <a href="?semester=">All Semesters</a>
            {% else %}
            <strong>All Semesters</strong>
            {% endif %}
        </p>
        <!-- <p class="level-item">
            <a
                class="button is-success"
                {% if can_propose_project.0 %}
                href="{% url 'projects_propose' %}"
                {% else %}
                disabled
                title="{{ can_propose_project.1 }}"
                {% endif %}
            >Propose Project</a></p> -->
    </div>
</nav>
