<nav class="mb-5">
    <form class="level" id="filters">
        <div class="level-left">
            <input type="hidden" name="semester" value="{{ target_semester.id|default:'' }}">
            <div class="level-item">
                <p class="subtitle is-6">
                    <strong>{{ projects_rows|length }}</strong> result{{ projects_rows|pluralize }}
                </p>
            </div>
            {% if target_semester and target_semester.is_active %}
            <div class="level-item">
                <label class="checkbox">
                    <input
                        type="checkbox"
                        name="is_seeking_members"
                        value="yes"
                        {% if is_seeking_members %} checked {% endif %}
                    />
                    Seeking Members?
                </label>
            </div>
            {% endif %}
            <div class="level-item">
                <div class="field has-addons">
                    <p class="control">
                        <input type="search" id="search" name="search" class="input"
                            placeholder="By name, project lead, tags" value="{{ search|default:'' }}" />
                    </p>
                    <p class="control">
                        <button class="button">
                            Search
                        </button>
                    </p>
                </div>
            </div>

            {% include "portal/includes/pagination.html" %}
        </div>

        <div class="level-right">
            {% include "portal/includes/semester_select.html" %}
            {% if user.is_authenticated %}
            <p class="level-item ml-2">
                <a
                    class="button is-success"
                    {% if can_create_project_check.passed %}
                    href="{% url 'new_project' %}"
                    {% else %}
                    disabled
                    title="{{ can_create_project_check.fail_reason }} {{ can_create_project_check.fix }}"
                    {% endif %}
                >New Project</a></p>
            {% endif %}
        </div>
    </form>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const filtersForm = document.getElementById("filters");
        const semesterSelect = filtersForm.querySelector("select[name='semester']");

        semesterSelect.addEventListener('change', function (ev) {
            filtersForm.submit();
        });
    });
</script>