{% extends "portal/base.html" %}
{% load project_extras %}
{% block content %}
<section class="section">
    <div class="container-fluid">
        <h1 class="title">Projects</h1>
        <h2 class="subtitle">{{ target_semester|default:"All Semesters" }}</h2>
        
        {% include "./filters.html" %}

        <table class="table is-fullwidth">
            <thead>
                <tr>
                    {% if target_semester and target_semester.is_active %}
                    <th></th>
                    {% endif %}
                    <th>Name</th>
                    <th>Summary</th>
                    <th>Tags</th>
                    {% if target_semester %}
                    <th>Lead</th>
                    <th>Team Size</th>
                    {% else %}
                    <th>Owner</th>
                    <th>Active Semesters</th>
                    {% endif %}

                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    {% if target_semester and target_semester.is_active %}
                    <td>
                        {% if project.is_seeking_members %}
                        <span
                            class="tag is-warning"
                            title="Seeking new members!"
                            >👥</span
                        >
                        {% endif %}
                    </td>
                    {% endif %}
                    <td>
                        <a
                            href="{{ project.get_absolute_url }}{% if target_semester %}?semester={{target_semester.id}}{% endif %}"
                            >{{ project }}</a
                        >
                    </td>
                    <td>{{ project.summary }}</td>
                    <td>{{ project.tags.all|join:", "|default:"-" }}</td>
                    {% if target_semester %}
                    <td>
                        {% project_leads project target_semester as project_leads %}
                        {% for project_lead in project_leads %}
                        <a href="{{ project_lead.get_absolute_url }}">{{ project_lead.user }}</a>
                        {% empty %}
                        -
                        {% endfor %}
                    </td>
                    <td>{% enrollment_count project.enrollments target_semester %}</td>
                    {% else %}
                    <td><a href="{{ project.owner.get_absolute_url }}">{{ project.owner|default:"-" }}</a></td>
                    <td>
                        {% for semester in project.get_active_semesters %}
                        <a class="is-block" href="{{ project.get_absolute_url }}?semester={{ semester.id }}">{{ semester }}</a>
                        {% endfor %}
                    </td>
                    {% endif%}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}
