{% extends "portal/base.html" %}
{% load portal_extras %}
{% load admin_urls %}
{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Projects</h1>
        <h2 class="subtitle">{{ target_semester|default:"All Semesters" }}</h2>
        
        <div class="notification is-warning">
            <p><strong>NOTE:</strong> We are working on getting all projects onto the site. Don't worry if yours is not listed yet!</p>
        </div>

        {% include "./filters.html" %}
        <div class="table-container">
            <table class="table is-fullwidth is-striped is-hoverable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Tags</th>
                        {% if target_semester %}
                        <th>Lead</th>
                        <!-- <th>Team Size</th> -->
                        <th>🔗</th>
                        {% else %}
                        <th>Owner</th>
                        <th>Active Semesters</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for project_data in projects_data %}
                    <tr>
                        <td>
                            <a
                                href="{{ project_data.project.get_absolute_url }}{% target_semester_query %}"
                                >{{ project_data.project }}</a
                            >
                            {% if project_data.project.organization %}
                            <span class="tag is-light">{{ project_data.project.organization }}</span>
                            {% endif %}
                            {% if target_semester and target_semester.is_active and project_data.project.is_seeking_members %}
                            <span
                                class="tag is-warning"
                                title="Seeking new members!"
                                >👥</span
                            >
                            {% endif %}
                        </td>
                        <td>{{ project_data.project.tags.all|join:", "|default:"-" }}</td>
                        {% if target_semester %}
                        <td>
                            {% for project_lead_enrollment in project_data.leads %}
                            <a href="{{ project_lead_enrollment.get_absolute_url }}">{{ project_lead_enrollment.user }}</a><br>
                            {% empty %}
                            -
                            {% endfor %}
                            
                        </td>
                        <!-- <td>{{ project_data.enrollments }}</td> -->
                        <td>
                            {% if project_data.pitch %}
                            <a target="_blank" href="{{ project_data.pitch.url }}">Pitch</a>
                            {% endif %}
                        </td>
                        {% else %}
                        <td><a href="{{ project.owner.get_absolute_url }}">{{ project_data.project.owner|default:"-" }}</a></td>
                        <td>
                            {% for semester in project_data.project.get_active_semesters %}
                            <a class="is-block" href="{{ project_data.project.get_absolute_url }}?semester={{ semester.id }}">{{ semester }}</a>
                            {% endfor %}
                        </td>
                        {% endif%}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if projects_data|length == 0 %}
        <p class="has-text-centered has-text-grey">
            No projects
            {% if target_semester %}
            listed for <b>{{ target_semester }}</b>.
            {% else %}
            have been posted yet.
            {% endif %}
        </p>
        {% endif %}

        {% if request.user.is_superuser %}
        <hr>
        <div class="buttons">
            <a href="{% url 'admin:portal_project_changelist' %}" class="button">View in Admin</a>
            <a href="{% url 'admin:portal_project_add' %}" class="button">Add in Admin</a>
        </div>
        {% endif %}

    </div>
</section>
{% endblock %}
