{% extends "portal/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section class="section">
    <div class="container">
        {% if active_semester %}
        <h1 class="title">Propose New Project for {{ active_semester }}</h1>

        <form method="post">
            {% csrf_token %}

            {{ form|crispy }}

            <button type="submit" class="button">Submit Proposal</button>
        </form>
        {% else %}
        <h1 class="title">No Active Semester</h1>
        <h2 class="subtitle">You can only propose new projects right before and during a semester.</h2>

        <a href="{% url 'projects_index' %}" class="button is-link">Back to Projects</a>
        {% endif %}
    </div>
</section>
{% endblock %}