{% extends "portal/base.html" %}
{% load crispy_forms_tags %}
{% load markdownify %}
{% load humanize %}

{% block content %}

{% if not meeting.is_published %}
<div class="notification is-warning mb-0">
    <div class="container">
        <span class="icon">⚠</span>
        This meeting has not yet been published. Details may change.
    </div>
</div>
{% endif %}

<section class="section" {% if can_manage_attendance %}style="min-height: 100vh;"{% endif %}>
    <div class="container">
        <h1 class="title is-1">
            {{ meeting.display_name }}
            {% if user_attendance and user_attendance.is_verified %}
                <span class="tag is-success">Attended</span>
            {% elif user_attendance and not user_attendance.is_verified %}
                <span class="tag is-warning">Attendance Awaiting Verification</span>
            {% endif %}
        </h1>
        <h2 class="subtitle is-4">{{ meeting.get_type_display }} Meeting <small class="has-text-grey">{{ meeting.starts_at|naturaltime }}</small></h2>

        <div class="columns">
            <div class="column">
                <div class="box">
                    <ul>
                        <li class="mb-2">
                            <span class="icon">
                                <i class="fa-solid fa-location-dot"></i>
                            </span>
                            {% if meeting.location %}
                            {{ meeting.location }}
                            {% else %}
                            <span class="has-text-grey">No location specified.</span>
                            {% endif %}
                        </li>
                        <li class="mb-2">
                            <span class="icon">
                                <i class="fa-regular fa-calendar-xmark"></i>
                            </span>
                            <span class="is-inline-block" style="vertical-align: top;">{{ meeting.starts_at|date:"l, n/j" }}
                            <br>
                            {{ meeting.starts_at|date:"P" }} - {{ meeting.ends_at|date:"P" }}
                            </span>
                        </li>
                        {% if meeting.host %}
                        <li class="mb-2">
                            <span class="icon">
                                <i class="fa-solid fa-chalkboard-user"></i>
                            </span>
                            <a href="{{ meeting.host.get_absolute_url }}">{{ meeting.host }}</a>
                        </li>
                        {% endif %}
                        {% if meeting.presentation_url %}
                        <li class="mb-2">
                            <span class="icon">
                                <i class="fa-solid fa-person-chalkboard"></i>
                            </span>
                            <a href="{{ meeting.presentation_url }}" target="_blank">Presentation Slides</a>
                        </li>
                        {% endif %}
                    </ul>
                    <hr>
                    <div class="content mt-5">
                        {% if meeting.description_markdown %}
                        {{ meeting.description_markdown|markdownify }}
                        {% else %}
                        <span class="has-text-grey">No description provided.</span>
                        {% endif %}
                    </div>
                </div>

                {% if request.user.is_authenticated and request.user.is_rpi and not user_attendance %}
                    {% if meeting.is_ongoing %}
                    {% crispy submit_attendance_form %}
                    {% else %}
                    <small class="has-text-grey">Attendance can be submitted here during the meeting. <a href="#" onclick="window.location.reload()">Refresh</a> the page if the meeting is currently in progress.</small>
                    {% endif %}
                {% endif %}
            </div>
            <div class="column">
                {% if meeting.presentation_embed_url %}
                <iframe
                    src="{{ meeting.presentation_embed_url }}"
                    frameborder="0"
                    width="100%"
                    height="400"
                    allowfullscreen="true"
                    mozallowfullscreen="true"
                    webkitallowfullscreen="true"
                ></iframe>
                {% else %}
                <div id="calendar"></div>

                <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.1/index.global.min.js"
                    integrity="sha256-wKSlmJX2aO3MGLwAyZeYmYpSBBI42kGszk55a52vKqs=" crossorigin="anonymous"></script>

                <script>
                    document.addEventListener("DOMContentLoaded", function () {
                        var calendarEl = document.getElementById("calendar");
                        var calendar = new FullCalendar.Calendar(calendarEl, {
                            initialView: "dayGridMonth",
                            events: "/api/meetings",
                            initialDate: "{{ meeting.starts_at.isoformat }}"
                        });
                        calendar.render();
                    });
                </script>
                {% endif %}
            </div>
        </div>
        
        {% if request.user.is_superuser %}
        <hr>
        <div class="buttons">
            <a href="{% url 'admin:portal_meeting_change' meeting.pk %}" class="button">Edit in Admin</a>
        </div>
        {% endif %}
    </div>
</section>

{% if can_manage_attendance %}
<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Attendance</h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">

        <div class="tabs">
            <ul>
                <li class="{% if not target_small_group %}is-active{% endif %}"><a href="?small_group=">All Students</a></li>
                {% for small_group in meeting.semester.small_groups.all %}
                <li class="{% if target_small_group == small_group %}is-active{% endif %}"><a href="?small_group={{ small_group.pk }}">{{ small_group }}</a></li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="box has-text-centered attendance-box" id="main-attendance-box">
            {% if code %}
                <details>
                    <summary>Attendance Code</summary>
                    <h1 class="title">{{ code }}</h1>
                </details>
                {% if not target_small_group and meeting.type == "small_group" %}
                <p class="has-text-grey">Do not show this during Small Group meetings. Use your Small Group's.</p>
                {% endif %}
            {% else %}
                <p class="has-text-grey">
                    The attendance code is displayed here while the meeting is in progress.
                    <a href="#" onclick="window.location.reload()">Refresh</a> the page if the meeting is currently in progress.
                </p>
            {% endif %}
        </div>

        {% if code %}
        <div class="notification is-dark attendance-box" id="pinned-attendance-box">
            <details>
                <summary>Attendance Code</summary>
                <h1 class="title">{{ code }}</h1>
            </details>
            {% if not target_small_group and meeting.type == "small_group" %}
            <p class="has-text-grey">Do not show this during Small Group meetings. Use your Small Group's.</p>
            {% endif %}
        </div>
        {% endif %}
        

        <div class="columns mt-6" id="attendance">
            <div class="column is-narrow">
                <a href="#attendance" onclick="window.location.reload()" class="button">Refresh</a>
            </div>
            <div class="column is-narrow">
                <strong>{% widthratio attendance_ratio 1 100 %}% ({{ attended_users|length }} of {{ expected_users|length }}) attended</strong>
            </div>
            <div class="column">
                <progress class="progress" value="{{ attendance_ratio }}"></progress>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <h2 class="subtitle">Attended</h2>
                <small>{{ attended_users|length }} total</small>
                <ul>
                    {% for user in attended_users %}
                    <li>
                        <a href="{{ user.get_absolute_url }}?semester={{ meeting.semester.pk }}">{{ user }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="column">
                <h2 class="subtitle">Requires Verification</h2>
                <small>{{ needs_verification_users|length }} total</small>
                <ul>
                    {% for user in needs_verification_users %}
                    <li class="mb-2">
                        <form action="{% url 'verify_attendance' %}" method="post">
                            {% csrf_token %}
                            <a href="{{ user.get_absolute_url }}?semester={{ meeting.semester.pk }}">{{ user }}</a>
                            <input type="hidden" name="user" value="{{ user.pk }}">
                            <input type="hidden" name="meeting" value="{{ meeting.pk }}">
                            <button class="button is-small">Verify</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="column">
                <h2 class="subtitle">Not Attended</h2>
                <small>{{ non_attended_users|length }} total</small>
                <ul>
                    {% for user in non_attended_users %}
                    <li>
                        <a href="{{ user.get_absolute_url }}?semester={{ meeting.semester.pk }}">{{ user }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <form action="{% url 'verify_attendance' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="meeting" value="{{ meeting.pk }}">
            <div class="field has-addons">
                <div class="control">
                    <input type="text" list="rcs_ids" name="rcs_id" class="input" placeholder="Student RCS ID" required>
                    <datalist id="rcs_ids">
                        {% for user in non_attended_users  %}
                        <option value="{{ user.rcs_id }}">
                        {% endfor %}
                    </datalist>
                </div>
                <div class="control">
                    <button type="submit" class="button">Manually Add Attendance</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% elif active_enrollment.is_mentor %}

<section class="section">
    <div class="container">
        <p class="has-text-grey has-text-centered">Mentors cannot manage Mentor meeting attendance.</p>
    </div>
</section>

{% endif %}

<script>
    function getCookie(cname) {
        let name = cname + "="
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(';')
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i]
            while (c.charAt(0) == ' ') {
                c = c.substring(1)
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length)
            }
        }
        return ""
    }

    function setCookie(cname, cvalue, exdays) {
        const d = new Date()
        d.setTime(d.getTime() + (exdays*24*60*60*1000))
        let expires = "expires="+ d.toUTCString()
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/"
      }

    document.addEventListener("DOMContentLoaded", function () {
        const mainAttendanceBox = document.getElementById("main-attendance-box")
        const pinnedAttendanceBox = document.getElementById("pinned-attendance-box")
        
        const attendanceBoxDetails = document.querySelectorAll(".attendance-box details")
        
        if (mainAttendanceBox && pinnedAttendanceBox) {
            function showAttendanceCode() {
                attendanceBoxDetails.forEach(details => details.open = true)
            }
    
            function hideAttendanceCode() {
                attendanceBoxDetails.forEach(details => details.open = false)
            }

            // On page load, determine whether to start with the attendance code is
            // displayed or hidden by looking at the browser cookie we set
            if (getCookie("isAttendanceCodeShown") === "true") {
                showAttendanceCode()
            } else {
                hideAttendanceCode()
            }

            // Keep the two attendance code displays in sync by listening for
            // the toggle event which fires when the user toggles whether the code
            // is shown or not. Sets a browser cookie that stores the status and
            // shows/hides the other attendance code
            attendanceBoxDetails.forEach(details => {
                details.addEventListener("toggle", function() {
                    setCookie("isAttendanceCodeShown", details.open, 1)
                    if (details.open) {
                        showAttendanceCode()
                    } else {
                        hideAttendanceCode()
                    }
                })
            })

            // Detect when the main attendance code is visible and not visible on the page
            // after scrolling, so we can show the pinned attendance code when the main
            // one has been scrolled off the page
            const observer = new IntersectionObserver((entries) => {
                entries.forEach((entry) => {
                    // If less than 75% of the main attendance code is visible on the screen,
                    // show the pinned one
                    if (entry.intersectionRatio < 0.50) {
                        pinnedAttendanceBox.classList.add("is-shown")
                    } else {
                        pinnedAttendanceBox.classList.remove("is-shown")
                    }
                })
            }, {
                threshold: [0, .25, .5, .75, 1],
            })
    
            observer.observe(mainAttendanceBox)
        }
    })
</script>
{% endblock %}