{% extends "portal/base.html" %}
{% load humanize %}

{% block ogp %}
<meta property="og:title" content="Meetings | RCOS IO" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="Meetings {% if meetings|length > 0 %}{% with next_meeting=meetings|first %}| Next meeting: {{ next_meeting.display_name }} @ {{ next_meeting.starts_at }}{% endwith %}{% endif %}| Rensselaer Center for Open Source" />
<meta property="og:image" content="https://github.com/rcos/rcos-branding/blob/master/img/lockup-red.png" />
{% endblock %}

{% block title %}
Meetings | RCOS IO
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Meetings</h1>

        <div class="columns">
            <div class="column is-one-third">
                <h2 class="title is-4">Upcoming</h2>

                {% for meeting in meetings %}
                <div class="card mb-2">
                    <div class="card-content">
                        <h3 class="subtitle mb-1 is-4 mb-2"><a href="{{ meeting.get_absolute_url }}">{{ meeting.display_name }}</a></h3>
                        <ul class="is-size-6 mb-3">
                            <li>
                                <span class="icon">
                                    <div style="width: 15px; height: 15px; background-color: {{ meeting.color }}; border-radius: 50%;" class="mr-1 is-inline-block"></div>
                                </span>
                                {{ meeting.get_type_display }}
                            </li>
                            <li>
                                <span class="icon">
                                    <i class="fa-regular fa-calendar-xmark"></i>
                                </span>
                                <span class="is-inline-block" style="vertical-align: top;">{{ meeting.starts_at|date:"l, n/j" }}
                                @
                                {{ meeting.starts_at|date:"P" }} - {{ meeting.ends_at|date:"P" }}
                                </span>
                            </li>
                            <li>
                                <span class="icon">
                                    <i class="fa-solid fa-location-dot"></i>
                                </span>
                                {% if meeting.location %}
                                {{ meeting.location }}
                                {% else %}
                                <span class="has-text-grey">No location specified.</span>
                                {% endif %}
                            </li>
                            {% if meeting.host %}
                            <li>
                                <span class="icon">
                                    <i class="fa-solid fa-chalkboard-user"></i>
                                </span>
                                <a href="{{ meeting.host.get_absolute_url }}">{{ meeting.host }}</a>
                            </li>
                            {% endif %}
                        </ul>
                        <small class="has-text-grey">{{ meeting.starts_at|naturaltime }}</small>
                        <!-- <span class="tag">
                           
                        </span> -->
                        
                    </div>
                </div>
                {% empty %}
                <p class="has-text-grey">No upcoming meetings are currently scheduled! Check back again later.</p>
                {% endfor %}
            </div>
            <div class="column">
                <div id="calendar"></div>
            </div>
        </div>

        {% if request.user.is_superuser %}
        <hr>
        <div class="buttons">
            <a href="{% url 'admin:portal_meeting_changelist' %}" class="button">View in Admin</a>
            <a href="{% url 'admin:portal_meeting_add' %}" class="button">Add in Admin</a>
        </div>
        {% endif %}
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.1/index.global.min.js"
    integrity="sha256-wKSlmJX2aO3MGLwAyZeYmYpSBBI42kGszk55a52vKqs=" crossorigin="anonymous"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var calendarEl = document.getElementById("calendar");
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: "dayGridMonth",
            events: "/api/meetings"
        });
        calendar.render();
    });
</script>
{% endblock %}