{% extends "portal/base.html" %}
{% load humanize %}
{% load portal_extras %}

{% block ogp %}
<meta property="og:title" content="Meetings | RCOS IO" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="Meetings {% if ongoing_meeting %}| Ongoing meeting: {{ ongoing_meeting.display_name }} @ {{ ongoing_meeting.starts_at }}{% elif upcoming_meeting %}| Next meeting: {{ upcoming_meeting.display_name }} @ {{ upcoming_meeting.starts_at }}{% endif %}| Rensselaer Center for Open Source" />
<meta property="og:image" content="https://raw.githubusercontent.com/rcos/rcos-branding/master/img/lockup-red.png" />
{% endblock %}

{% block title %}
Meetings | RCOS IO
{% endblock %}

{% block content %}
<style>
    .fc-col-header-cell-cushion, .fc-daygrid-day-number {
        color: black;
        cursor: default;
    }
</style>
<section class="section">
    <div class="container">
        <h1 class="title">Meetings</h1>

        <div class="columns">
            <div class="column is-one-third">
                {% if ongoing_meetings|length > 0 %}
                <h2 class="title is-4">Ongoing</h2>

                {% for meeting in ongoing_meetings %}
                <div class="card mb-2 has-border-danger">
                    <header class="card-header">
                        <p class="card-header-title is-size-4">
                            <a href="{{ meeting.get_absolute_url }}" class="is-flex-grow-1">
                                {{ meeting.display_name }}
                            </a>
                            <span class="tag" style="background-color: {{ meeting.color }}">{{ meeting.get_type_display }}</span>
                        </p>
                    </header>
                    <div class="card-content">
                        <ul class="is-size-6 mb-3">
                            <li>
                                <span class="icon">
                                    <i class="fa-regular fa-calendar-xmark"></i>
                                </span>
                                <span class="is-inline-block" style="vertical-align: top;">{{ meeting.starts_at|date:"l, n/j" }}
                                @
                                {{ meeting.starts_at|date:"P" }} - {{ meeting.ends_at|date:"P" }}
                                </span>
                            </li>
                            <li>
                                <span class="icon">
                                    <i class="fa-solid fa-location-dot"></i>
                                </span>
                                {% if meeting.room %}
                                {{ meeting.room }}
                                {% else %}
                                <span class="has-text-grey">No room specified.</span>
                                {% endif %}
                            </li>
                            {% if meeting.host %}
                            <li>
                                <span class="icon">
                                    <i class="fa-solid fa-chalkboard-user"></i>
                                </span>
                                <a href="{{ meeting.host.get_absolute_url }}">
                                    {% if not meeting.host.is_name_public and not request.user.is_authenticated %}
                                    RCOS Member
                                    {% else %}
                                    {{ meeting.host }}
                                    {% endif%}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                        <small class="has-text-grey">{{ meeting.starts_at|naturaltime }}</small>
                    </div>
                </div>
                {% endfor %}

                <br>
                {% endif %}

                <h2 class="title is-4">Upcoming</h2>

                {% for meeting in upcoming_meetings %}
                <div class="card mb-2">
                    <header class="card-header">
                        <p class="card-header-title">
                            <a href="{{ meeting.get_absolute_url }}" class="is-flex-grow-1">
                                {{ meeting.display_name }}
                            </a>
                            <span class="tag" style="background-color: {{ meeting.color }}">{{ meeting.get_type_display }}</span>
                        </p>
                    </header>
                    <div class="card-content">
                        <ul class="is-size-6 mb-3">
                            <li>
                                <span class="icon">
                                    <i class="fa-regular fa-calendar-xmark"></i>
                                </span>
                                <span class="is-inline-block" style="vertical-align: top;">{{ meeting.starts_at|date:"l, n/j" }}
                                @
                                {{ meeting.starts_at|date:"P" }} - {{ meeting.ends_at|date:"P" }}
                                </span>
                            </li>
                            <li>
                                <span class="icon">
                                    <i class="fa-solid fa-location-dot"></i>
                                </span>
                                {% if meeting.room %}
                                {{ meeting.room }}
                                {% else %}
                                <span class="has-text-grey">No room specified.</span>
                                {% endif %}
                            </li>
                            {% if meeting.host %}
                            <li title="Hosted by {{ meeting.host }}">
                                <span class="icon">
                                    <i class="fa-solid fa-chalkboard-user"></i>
                                </span>
                                <a href="{{ meeting.host.get_absolute_url }}">{{ meeting.host }}</a>
                            </li>
                            {% endif %}
                        </ul>
                        <small class="has-text-grey">{{ meeting.starts_at|naturaltime }}</small>
                    </div>
                </div>
                {% empty %}
                <p class="has-text-grey">No upcoming meetings are currently scheduled! Check back again later.</p>
                {% endfor %}
                
                <div class="buttons mt-3">
                    <!-- {% if can_schedule_workshops_check.passed %}
                    <a href="{% url 'schedule_workshop' %}{% active_semester_query %}" class="button is-success">
                        <span class="icon">
                            <i class="fa-regular fa-calendar-plus"></i>
                        </span>
                        <span>Schedule Workshop</span>
                    </a>
                    {% endif %} -->
                    {% if is_enrolled %}
                    <a href="{% url 'user_attendance' request.user.pk %}{% active_semester_query %}" class="button">
                        <span class="icon">
                            <i class="fa-solid fa-clipboard-user"></i>
                        </span>
                        <span>Your Attendance</span>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="column">
                <div id="calendar"></div>
            </div>
        </div>

        {% if request.user.is_superuser %}
        <hr>
        <div class="buttons">
            <a href="{% url 'admin:portal_meeting_changelist' %}" class="button">View in Admin</a>
            <a href="{% url 'admin:portal_meeting_add' %}" class="button">Add in Admin</a>
        </div>
        {% endif %}
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.1/index.global.min.js"
    integrity="sha256-wKSlmJX2aO3MGLwAyZeYmYpSBBI42kGszk55a52vKqs=" crossorigin="anonymous"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var calendarEl = document.getElementById("calendar");
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: "listMonth",
            events: "/api/meetings"
        });
        calendar.render();
    });
</script>
{% endblock %}
