{% extends "portal/base.html" %}

{% block ogp %}
<meta property="og:title" content="403 Error | RCOS IO" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="403: Permission Denied" />
<meta property="og:image" content="https://raw.githubusercontent.com/rcos/rcos-branding/master/img/lockup-red.png" />
{% endblock %}

{% block title %}
403 | RCOS IO
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Lacking Permission</h1>
        <h2 class="subtitle">You do not have permission to view that page.</h2>
    </div>
</section>
{% endblock %}