{% extends "portal/base.html" %}

{% block ogp %}
<meta property="og:title" content="500 Error | RCOS IO" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.get_full_path }}" />
<meta property="og:description" content="500: Error Occurred" />
<meta property="og:image" content="https://github.com/rcos/rcos-branding/blob/master/img/lockup-red.png" />
{% endblock %}

{% block title %}
500 | RCOS IO
{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">An Error Occurred</h1>
        <h2 class="subtitle">Yikes! Something went wrong. It's been reported to the maintainers.</h2>
    </div>
</section>
{% endblock %}