{% extends "portal/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                {% include "../_menu.html" %}
            </div>

            <div class="column">
                <h1 class="title">{{ title }}</h1>

                <hr>
                <form method="post" enctype="multipart/form-data" class="box">
                    {% include "portal/includes/formerrors.html" %}
                    {% csrf_token %}
                    {{ form.as_div }}
                    <br>
                    <button type="submit" class="button">Export</button>
                </form>
            </div>
        </div>
        
    </div>
</section>
{% endblock %}