{% load portal_extras %}
{% user_enrollment request.user active_semester as enrollment %}
{% project_leads enrollment.project active_semester as project_leads %}
{% project_enrollments enrollment.project active_semester as project_enrollments %}
{% project_small_group enrollment.project active_semester as small_group %}
{% semester_admins active_semester as semester_admins %}

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">Your Dashboard</h1>
            <h2 class="subtitle is-3">{{ active_semester|default:"On Break" }}</h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            {% if enrollment and enrollment.project %}
            <div class="tile is-3 is-vertical is-parent">
                <div class="tile box is-child">
                    <h2 class="title is-4 mb-2">{{ enrollment.project }}</h2>
    
                    <ul>
                        {% for enrollment in project_enrollments %}
                        <li>
                            <a href="{{ enrollment.get_absolute_url }}">{{ enrollment.user }}</a>
                            {% if enrollment.is_project_lead %}
                            <span class="icon">
                                <i class="fa-solid fa-crown"></i>
                            </span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    <hr>
                    <ul>
                        {% for repository in enrollment.project.repositories.all %}
                        <li><a href="{{ repository.url }}" target="_blank">{{ repository.url|to_short_repository }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                {% if small_group %}
                <div class="tile box is-child">
                    <h2 class="title is-4 mb-2">{{ small_group }}</h2>
                    <p class="has-text-grey"><span class="icon">🌎</span>{{ small_group.location }}</p>
                    <hr>
                    <ul>
                        {% for mentor in small_group.mentors.all %}
                        <li><span class="icon">👩‍🏫</span> <a href="{{ mentor.get_absolute_url }}{% active_semester_query %}">{{ mentor }}</a></li>
                        {% endfor %}
                    </ul>
                    <hr>
                    <ul>
                        {% for project in small_group.projects.all %}
                        <li><a href="{{ project.get_absolute_url }}{% active_semester_query %}">{{ project }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            {% endif %}

            <div class="tile is-parent is-vertical">
                <div class="tile box is-child is-flex  is-flex-direction-column">
                    {% if active_semester and enrollment and enrollment.project %}
                    {% include "./tiles/week_contributions.html" %}
                    {% elif active_semester and enrollment and enrollment.project is None %}
                    {% include "./tiles/no_project.html" %}
                    {% elif request.user.is_approved and active_semester is not None and enrollment is None %}
                    {% include "./tiles/not_enrolled.html" %}
                    {% elif not request.user.is_approved %}
                    {% include "./tiles/not_approved.html" %}
                    {% else %}
                    <p class="has-text-grey">When a semester starts, you'll be able to access useful information on this dashboard!</p>
                    {% endif %}
                </div>
            </div>

            <div class="tile is-vertical is-parent">
                <div class="tile is-child box">
                    {% include "./tiles/support.html" %}
                </div>
                <div class="tile is-child box">
                    {% include "./tiles/meetings.html" %}
                </div>
            </div>
        </div>

    </div>
</section>