{% load portal_extras %}
{% user_enrollment request.user active_semester as enrollment %}
{% project_leads enrollment.project active_semester as project_leads %}
{% project_enrollments enrollment.project active_semester as project_enrollments %}
{% project_small_group enrollment.project active_semester as small_group %}
{% semester_admins active_semester as semester_admins %}

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">Your Dashboard</h1>
            <h2 class="subtitle is-3">{{ active_semester|default:"On Break" }}</h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-3 is-vertical is-parent">
                <div class="tile box is-child">
                    <h2 class="subtitle mb-2">{{ enrollment.project }}</h2>
    
                    <ul>
                        {% for enrollment in project_enrollments %}
                        <li>
                            {% if enrollment.is_project_lead %}
                            <span class="icon">👑</span>
                            {% endif %}
                            <a href="{{ enrollment.get_absolute_url }}">{{ enrollment.user }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <hr>
                    <ul>
                        {% for repository in enrollment.project.repositories.all %}
                        <li><a href="{{ repository.url }}" target="_blank">{{ repository.url|to_short_repository }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="tile box is-child">
                    <h2 class="subtitle mb-2">{{ small_group }}</h2>
                    <p class="has-text-grey"><span class="icon">🌎</span>{{ small_group.location }}</p>
                    <hr>
                    <ul>
                        {% for mentor in small_group.mentors.all %}
                        <li><span class="icon">👩‍🏫</span> <a href="{{ mentor.get_absolute_url }}{% active_semester_query %}">{{ mentor }}</a></li>
                        {% endfor %}
                    </ul>
                    <hr>
                    <ul>
                        {% for project in small_group.projects.all %}
                        <li><a href="{{ project.get_absolute_url }}{% active_semester_query %}">{{ project }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="tile is-parent">
                <div class="tile box is-child">
                    <h2 class="subtitle mb-2">Your Contributions This Week</h2>
    
                    <p class="has-text-grey">Coming soon...</p>
                </div>
            </div>

            <div class="tile is-vertical is-parent">
                <div class="tile is-child box">
                    <h2 class="subtitle mb-2">Faculty Advisors & Coordinators</h2>
                    <ul>
                        {% for enrollment in semester_admins %}
                        <li>
                            <a href="{{ enrollment.get_absolute_url }}">{{ enrollment.user }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tile is-child box">
                    <div id="calendar"></div>

                    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.1/index.global.min.js"
                        integrity="sha256-wKSlmJX2aO3MGLwAyZeYmYpSBBI42kGszk55a52vKqs=" crossorigin="anonymous"></script>

                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            var calendarEl = document.getElementById("calendar");
                            var calendar = new FullCalendar.Calendar(calendarEl, {
                                initialView: "dayGridMonth",
                                events: "/api/meetings"
                            });
                            calendar.render();
                        });
                    </script>
                </div>
            </div>
        </div>

    </div>
</section>