{% extends "portal/base.html" %}
{% load portal_extras %}

{% block ogp %}
<meta property="og:title" content="{{ user }} | RCOS IO" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:description" content="{{ user }} | Rensselaer Center for Open Source" />
<meta property="og:image" content="https://raw.githubusercontent.com/rcos/rcos-branding/master/img/lockup-red.png" />
{% endblock %}

{% block title %}
{{ user }} | RCOS IO
{% endblock %}

{% block content %}

{% if not user.is_approved %}
<div class="notification is-warning mb-0">
    <div class="container">
        <span class="icon">⚠</span> <strong>{{ user }}</strong> is being reviewed and has not yet been approved to participate in RCOS.
    </div>
</div>
{% endif%}

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <h1 class="title is-1">{{ user.full_name }}</h1>

                    {% include "portal/includes/semester_select_form.html" with semesters=user.get_active_semesters %}
                </div>
                <div class="column is-5">
                    <ul class="mb-3">
                        <li>
                            <span class="icon">
                                <i class="fa-solid fa-envelope"></i>
                            </span>
                            {% if request.user.is_authenticated and request.user.is_approved %}
                            <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                            {% else %}
                            <span class="has-text-grey">Login to view email.</span>
                            {% endif %}
                        </li>
                        <li>
                            <span class="icon">
                                <i class="fa-solid fa-chalkboard-user"></i>
                            </span>
                            {{ user.get_role_display }}
                        </li>
                        {% if user.graduation_year %}
                        <li>
                            <span class="icon">
                                <i class="fa-solid fa-graduation-cap"></i>
                            </span>
                            Class of {{ user.graduation_year }}
                        </li>
                        {% endif %}
                    </ul>
                    <div class="columns">
                        {% if request.user.is_authenticated and request.user.is_approved %}
                        <div class="column">
                            {% with user.discord_user as discord_user %}
                            {% if discord_user %}
                            <small class="has-text-grey has-text-weight-semibold mb-2 is-block">Discord</small>
                            <div class="is-flex is-align-items-center">
                                <figure class="image is-32x32 mr-2">
                                    <img class="is-rounded" src="https://cdn.discordapp.com/avatars/{{ discord_user.id }}/{{ discord_user.avatar }}.png?size=32" alt="Discord avatar">
                                </figure>
                                <div class="is-size-5">
                                    <span class="has-text-weight-bold">@{{ discord_user.username }}</span><small class="has-text-grey">#{{ discord_user.discriminator }}</small>
                                </div>
                            </div>
                            {% endif %}
                            {% endwith %}
                        </div>
                        {% endif %}
                        <div class="column">
                            {% if user.github_username %}
                            <small class="has-text-grey has-text-weight-semibold mb-2 is-block">GitHub</small>
                            <div class="is-flex is-align-items-center">
                                <figure class="image is-32x32 mr-2">
                                    <img class="is-rounded" src="https://github.com/{{ user.github_username }}.png?size=32" alt="GitHub avatar">
                                </figure>
                                <div class="is-size-5">
                                    <span class="has-text-weight-bold"><a target="_blank" href="https://www.github.com/{{ user.github_username }}">{{ user.github_username }}</a></span>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% if target_semester %}
<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{ target_semester }}</h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <p class="has-text-gray">Detailed semester overview coming soon! <a href="?semester=">View full overview</a></p>
    </div>
</section>
{% else %}
<section class="section">
    <div class="container">
        <h2 class="title is-4">{{ user.first_name|default:user.display_name }}'s RCOS History</h2>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Semester</th>
                    <th>Credits</th>
                    <th>Project</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for enrollment in enrollments %}
                <tr>
                    <td>
                        {{ enrollment.semester }}
                        {% if enrollment.is_faculty_advisor %}
                        <span class="tag">Faculty Advisor</span>
                        {% endif %}

                        {% if enrollment.is_coordinator %}
                        <span class="tag is-warning">Coordinator</span>
                        {% endif %}

                        {% if enrollment.is_mentor %}
                        <span class="tag is-info">Mentor</span>
                        {% endif %}
                    </td>
                    <td>{{ enrollment.credits }}</td>
                    <td>
                        {% if enrollment.project %}
                        <a href="{{ enrollment.project.get_absolute_url }}{% target_semester_query %}">{{ enrollment.project }}</a>
                        {% if enrollment.is_project_lead %}
                        <span class="tag">Lead</span>
                        {% endif %}
                        {% else %}
                        <span class="has-text-gray">-</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if request.user.is_superuser or request.user == user and user.is_rpi %}
                        <a href="{% url 'user_attendance' user.pk %}{% active_semester_query %}">View Attendance</a>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endif %}
<section class="section">
    <div class="container">

        {% if debug or request.user.is_superuser %}
        <hr>
        <div class="buttons">
            <a href="{% url 'admin:portal_user_change' user.pk %}" class="button">Edit in Admin</a>

            <form action="{% url 'impersonate' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="email" value="{{ user.email }}">
                <button class="button is-warning">Login as User</button>
            </form>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}