<nav class="mb-5">
    <form id="filters">
        <div class="field is-grouped is-grouped-multiline">
            <p class="control">
                {% include "portal/includes/semester_select.html" %}
            </p>

            <p class="control">
                {% include "portal/includes/organization_select.html" %}
            </p>

            <p class="control is-expanded">
                <input type="search" id="search" name="search" class="input is-small"
                    placeholder="By name, GitHub, Discord, etc." value="{{ search|default:'' }}" />
            </p>

            <p class="control">
                <button class="button is-small">
                    Search
                </button>
            </p>
            <span>{{ user_rows|length }} results</span>
        </div>
    </form>
</nav>
