<nav class="mb-5">
    <form class="level" id="filters">
        <div class="level-left">
            <input type="hidden" name="semester" value="{{ target_semester.id|default:'' }}">
            <div class="level-item">
                <p class="subtitle is-6">
                    <strong>{{ user_rows|length }}</strong> result{{ user_rows|pluralize }}
                </p>
            </div>
            <div class="level-item">
                <div class="field has-addons">
                    <p class="control">
                        <input type="search" id="search" name="search" class="input"
                            placeholder="By name, graduation year, etc." value="{{ search|default:'' }}" />
                    </p>
                    <p class="control">
                        <button class="button">
                            Search
                        </button>
                    </p>
                </div>
            </div>

            {% include "portal/includes/pagination.html" %}
        </div>

        <div class="level-right">
            {% include "portal/includes/semester_select.html" %}
            <!-- <p class="level-item">
                        <a
                            class="button is-success"
                            {% if can_propose_project.0 %}
                            href="{% url 'projects_propose' %}"
                            {% else %}
                            disabled
                            title="{{ can_propose_project.1 }}"
                            {% endif %}
                        >Propose Project</a></p> -->
        </div>
    </form>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const filtersForm = document.getElementById("filters");
        const semesterSelect = filtersForm.querySelector("select[name='semester']");

        semesterSelect.addEventListener('change', function (ev) {
            filtersForm.submit();
        });
    });
</script>