{% extends "portal/base.html" %}

{% block content %}
<section class="section">
    <div class="container-fluid">
        <h1 class="title">Users</h1>
        <h2 class="subtitle">{{ target_semester|default:"All Semesters" }}</h2>

        <form class="columns is-vcentered">
            <div class="column is-narrow">
                {% include "portal/includes/semester_select.html" %}
            </div>
            <div class="column">
                <input type="search" id="search" name="search" class="input"
                    placeholder="By name, email, graduation year, etc." value="{{ search|default:'' }}" />
            </div>
            <div class="column is-narrow">
                <button type="submit" class="button">Filter</button>
            </div>
        </form>

        <p class="has-text-grey mb-2">{{users|length }} results</p>
        {% for user in users %}
        <li><a href="{% url 'users_detail' user.id %}{% if target_semester %}?semester={{target_semester.id}}{% endif %}">{{ user }}</a></li>
        {% endfor %}
    </div>
</section>
{% endblock %}