{% extends "portal/base.html" %}
{% load portal_extras %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Users</h1>
        <h2 class="subtitle">{{ target_semester|default:"All Semesters" }}</h2>

        {% include "./filters.html" %}

        <div class="table-container">
            <table class="table is-fullwidth is-striped is-hoverable">
                <thead>
                    <tr>
                        <th>Name</th>
                        {% if target_semester %}
                        <th>Project</th>
                        <th>Credits</th>
                        {% else %}
                        <th>Active Semesters</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    {% user_enrollment user target_semester as enrollment %}
                    <tr>
                        <td><a href="{{ user.get_absolute_url }}{% target_semester_query %}">{{ user }}</a></td>
                        {% if target_semester %}
                        <td>
                            {% if enrollment.project %}
                            <a href="{{ enrollment.project.get_absolute_url }}{% target_semester_query %}">
                                {{ enrollment.project }}
                            </a>
                            {% if target_semester %}
                            {% if enrollment.is_project_lead %}
                            <span class="icon" title="Project Lead of {{ enrollment.project }}">👑</span>
                            {% endif %}
                            {% endif %}
                            {% else %}
                            <span class="has-text-grey">-</span>
                            {% endif %}
                        </td>
                        <td>{{ enrollment.credits }}</td>
                        {% else %}
                        <td>
                            {% for enrollment in user.enrollments.all %}
                            <a class="is-block" href="{{ enrollment.get_absolute_url }}">{{ enrollment.semester }} ({{ enrollment.project }})</a>
                            {% empty %}
                            -
                            {% endfor %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if users|length == 0 %}
        <p class="has-text-centered has-text-grey">
            No users
            {% if target_semester %}
            have yet enrolled for <b>{{ target_semester }}</b>.
            {% else %}
            have enrolled yet.
            {% endif %}
        </p>
        {% endif %}

        {% if request.user.is_superuser %}
        <hr>
        <div class="buttons">
            <a href="{% url 'admin:portal_user_changelist' %}" class="button">View in Admin</a>
            <a href="{% url 'admin:portal_user_add' %}" class="button">Add in Admin</a>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}