<ul>
    {% if project.organization %}
    <li>
        <span class="icon">
            <i class="fa-solid fa-building"></i>
        </span>
        {{ project.organization }} Project
    </li>
    {% endif %}

    <li>
        <span class="icon">
            <i class="fa-solid fa-crown"></i>
        </span>
        {% if project.owner %}
        Owned by 
        <a href="{{ project.owner.get_absolute_url }}">
            {% if not project.owner.is_name_public and not request.user.is_authenticated %}
            RCOS Member
            {% else %}
            {{ project.owner }}
            {% endif %}
        </a>
        {% else %}
        <span class="has-text-grey">No owner.</span>
        {% endif %}
    </li>

    <li>
        <span class="icon">
            <i class="fa-solid fa-tags"></i>
        </span>
        {% if project.tags.all|length > 0 %}
            {% for project_tag in project.tags.all %}
                <span class="tag is-light">{{ project_tag }}</span>
            {% endfor %}
        {% else %}
        <span class="has-text-grey">No tags.</span>
        {% endif %}
    </li>

    {% if project.homepage_url %}
    <li>
        <span class="icon">🏠</span>
        <a href="{{ project.homepage_url }}" target="_blank">{{ project.homepage_url }}</a>
    </li>
    {% endif %}
    
    {% if project.external_chat_url and request.user.is_authenticated and request.user.is_approved %}
    <li>
        <span class="icon">💬</span>
        <a href="{{ project.external_chat_url }}" target="_blank">{{ project.external_chat_url }}</a>
    </li>
    {% endif %}
</ul>