<ul>
    <li>
        <span class="icon">
            <i class="fa-solid fa-crown"></i>
        </span>
        {% if project.owner %}
        Owned by 
        <a href="{{ project.owner.get_absolute_url }}">{{ project.owner }}</a>
        {% else %}
        <span class="has-text-grey">No owner.</span>
        {% endif %}
    </li>

    <li>
        <span class="icon">🏷</span>
        {% if project.tags.all|length > 0 %}
        {{ project.tags.all|join:", " }}
        {% else %}
        <span class="has-text-grey">No tags.</span>
        {% endif %}
    </li>

    {% if project.homepage_url %}
    <li>
        <span class="icon">🏠</span>
        <a href="{{ project.homepage_url }}">{{ project.homepage_url }}</a>
    </li>
    {% endif %}
    
    {% if project.external_chat_url and request.user.is_authenticated and request.user.is_approved %}
    <li>
        <span class="icon">💬</span>
        <a href="{{ project.external_chat_url }}">{{ project.external_chat_url }}</a>
    </li>
    {% endif %}
</ul>