<div class="columns is-multiline">
    {% for enrollment in enrollments %}
    <div class="column is-one-third">
        <div class="box">
            {% if is_owner_or_lead and target_semester.is_active %}
            <form action="{% url 'modify_project_team' project.slug %}?action=remove&semester={{ target_semester.pk }}"
                method="post" class="is-pulled-right">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ enrollment.user_id }}">
                <button type="submit" title="Remove {{ enrollment.user }} from team" class="button is-small">
                    <i class="fa-solid fa-user-xmark"></i>
                </button>
            </form>
            {% endif %}

            <p>
                <a href="{{ enrollment.get_absolute_url }}">
                    {% if not enrollment.user.is_name_public and not request.user.is_authenticated %}
                    RCOS Member
                    {% else %}
                    {{ enrollment.user }}
                    {% endif %}
                </a>
                {% if enrollment.is_project_lead %}
                    <span class="tag">Lead</span>
                {% endif %}
            </p>
            <p class="has-text-grey">
                <small>{{ enrollment.credits }} credits</small>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
