<div class="columns is-multiline">
    {% for enrollment in enrollments %}
    <div class="column is-one-third">
        <div class="box">
            <p>
                <a href="{{ enrollment.get_absolute_url }}">{{ enrollment.user }}</a>
                {% if enrollment.is_project_lead %}
                    <span class="tag">Lead</span>
                {% endif %}
            </p>
            <p class="has-text-grey">
                <small>{{ enrollment.credits }} credits</small>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
