{% extends "portal/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Your Profile</h1>

        <div class="columns">
            <div class="column">
                <div class="columns">
                    <div class="column">
                        <div class="field ">
                            <label class="label">Email</label>
                            <div class="control">
                                <input type="text" class="input" value="{{ request.user.email }}" readonly disabled>
                            </div>
                        </div>
                    </div>
                    {% if user.role == "rpi" %}
                    <div class="column">
                        <div class="field">
                            <label class="label">RCS ID</label>
                            <div class="control">
                                <input type="text" class="input" value="{{ request.user.rcs_id }}" readonly disabled>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
        
                <form method="post">
                    {% csrf_token %}
        
                    {{ form|crispy }}
        
                    <button type="submit" class="button is-success">Update Profile</button> <a href="{% url 'users_detail' request.user.pk %}" class="button">View Public Profile</a>
                </form>
            </div>
            <div class="column is-4">

                <div class="notification {% if not request.user.discord_user_id %}is-danger{% endif %}">
                    <span class="icon-text" style="width: 100%;">
                        <span class="icon is-large"><i class="fa-brands fa-2x fa-discord"></i></span>
                        <span class="is-align-self-center">
                            {% with request.user.discord_user as discord_user %}
                            {% if discord_user %}
                            <p class="is-size-5">Linked to <strong>@{{ discord_user.username }}{% if discord_user.discriminator != "0" %}#{{ discord_user.discriminator }}{% endif %}</strong></p>
                            <small>
                                <a href="{% url 'unlink_discord' %}">Unlink</a>
                                /
                                <a href="{% url 'discord_flow' %}">Switch</a>
                            </small>
                            {% else %}
                            <a href="{% url 'discord_flow' %}">Link your Discord account</a>
                            {% endif %}
                            {% endwith %}
                        </span>
                    </span>
                </div>
                
                <hr>
                
                <div class="notification {% if not request.user.github_username %}is-danger{% endif %}">
                    <span class="icon-text">
                        <span class="icon is-large"><i class="fa-brands fa-2x fa-github"></i></span>
                        <span class="is-align-self-center">
                            {% if request.user.github_username %}
                            <p class="is-size-5">
                                Linked to 
                                <a class="has-text-weight-bold" href="https://github.com/{{ request.user.github_username }}" target="_blank">@{{ request.user.github_username }}</a>
                            </p>
                            <small>
                                <a href="{% url 'unlink_github' %}">Unlink</a>
                                /
                                <a href="{% url 'github_flow' %}">Switch</a>
                            </small>
                            {% else %}
                            <a href="{% url 'github_flow' %}">Link your GitHub account</a>
                            {% endif %}
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}