{% load portal_extras %}

{% if pending_project %}
<h2 class="title is-3 mb-2">
    Your proposed project <a href="{% url 'projects_detail' pending_project.pk %}">{{ pending_project }}</a> is being reviewed.
</h2>
<p class="is-size-5 block">
    Once approved, you'll be marked as its project lead and can opt to pitch it to the RCOS student body if you want team mates to join you.
</p>
<p class="is-size-5 block">
    You do not have to pitch your project and can pick team members yourself if preferred.
</p>
{% else %}
<h2 class="title is-4 mb-2">Choose a Project</h2>

<div class="is-flex is-flex-direction-column is-flex-grow-1">
    <p>Here's a list of projects that are actively seeking members to join. Check out their pitch and contact the Project Lead if you are interested!</p>
    
    <div class="is-flex-grow-1" style="overflow:auto; max-height: 600px;">
        <hr>
        {% for pitch in active_semester.project_pitches.all %}
        <div class="block">
            <a class="is-block subtitle mb-0" href="{{ pitch.project.get_absolute_url }}{% active_semester_query %}">{{ pitch.project }}</a>
            
            <small class="has-text-grey">{{ pitch.project.summary }}</small>
            
            <div>
                {% for tag in pitch.project.tags.all %}
                <small class="tag is-light">{{ tag }}</small>
                {% endfor %}
            </div>
            
            <small>
                <a href="{{ pitch.url }}" target="_blank">View Pitch</a>
                {% if pitch.project.discord_text_channel_url %}
                /
                <a href="{{ pitch.project.discord_text_channel_url }}" target="_blank">Discuss on Discord</a>
                {% endif %}
            </small>
            <hr>

        </div>
        {% empty %}
        <p class="has-text-grey">None have been proposed yet! Check back again soon.</p>
        {% endfor %}
        </ul>
    </div>
    {% if can_propose_project.0 %}
    <a
        class="button is-block is-outlined is-primary mb-2"
        {% if can_propose_project.0 %}
        href="{% url 'projects_propose' %}"
        {% else %}
        disabled
        title="{{ can_propose_project.1 }}"
        {% endif %}
    >Propose Project</a>
    {% endif %}
    <a href="{% url 'projects_index' %}?semester={{ active_semester.pk }}" class="button is-block is-link is-outlined">View All {{ active_semester }} Projects</a>
</div>
{% endif %}
