{% load portal_extras %}
<h4 class="is-size-4 has-text-grey">Your Project</h4>
<h2 class="is-size-2 has-text-weight-medium">{{ enrollment.project }}</h2>
    
<div class="content">
    <p>Your project was approved to participate in RCOS {{ active_semester }}! Now you can build your team.</p>
    <p>
        If you would like to promote your project to all of RCOS in order to get interested team members, submit a project pitch
        below.
    </p>

    <p>If you rather form a team by reaching out to students yourself, do not submit a project pitch.</p>
</div>
{% project_documents enrollment.project active_semester as project_docs %}

{% if project_docs.pitch %}
<a href="{{ project_docs.pitch.url }}" target="_blank" class="button is-link mb-2">View Project Pitch</a>
{% else %}
<a href="{% url 'projects_add_pitch' enrollment.project.slug %}" class="button mb-2">Submit Project Pitch</a>
{% endif %}

<hr>

<table class="table mb-4">
    <tbody>
        {% for enrollment in project_team_enrollments %}
        <tr>
            <td>
                {% if enrollment.is_project_lead %}
                <span title="Project Lead">
                    <i class="fa-solid fa-crown"></i>
                </span>
                {% endif %}
            </td>
            <td><a href="{{ enrollment.get_absolute_url }}">{{ enrollment.user }}</a></td>
            <td>{{ enrollment.credits}} credits</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'projects_detail' enrollment.project.slug %}?semester={{ active_semester.pk }}" class="button is-info">Manage Team</a>
