{% load portal_extras %}
<h2 class="subtitle is-2 mb-2">Project Management</h2>
    
<div class="content">
    <p>Your project was approved to participate in RCOS {{ active_semester }}! Now you can build your team.</p>
    <p>
        If you would like to promote your project to all of RCOS in order to get interested team members, submit a project pitch
        below.
    </p>

    <p>If you rather form a team by reaching out to students yourself, do not submit a project pitch.</p>
</div>
{% project_documents enrollment.project active_semester as project_docs %}

{% if project_docs.pitch %}
<a href="{{ project_docs.pitch.url }}" target="_blank" class="button is-link">View Project Pitch</a>
{% else %}
<a href="{% url 'projects_add_pitch' enrollment.project.pk %}" class="button">Submit Project Pitch</a>
{% endif %}