<footer class="footer">
    <p class="has-text-centered">Made with <span id="heart" class="has-text-danger">❤</span> by <a href="https://handbook.rcos.io/" target="_blank">RCOS</a>. The  <a href="https://github.com/rcos/rcos_io" target="_blank">source code</a> is licensed
        <a href="https://github.com/rcos/rcos_io/blob/main/LICENSE" target="_blank">MIT</a>.
    </p>
    {% if debug or request.user.is_superuser %}
        <nav class="breadcrumb is-centered mt-3" aria-label="breadcrumbs">
            <ul>
                <li><a href="/admin">Admin Site</a></li>
                <li><a href="https://railway.app/dashboard" target="_blank">Hosting Dashboard</a></li>
                <li><a href="https://sentry.io/organizations/rcos/issues/" target="_blank">Errors Dashboard</a></li>
                <li><a href="https://app.mailjet.com/dashboard" target="_blank">Email API Dashboard</a></li>
            </ul>
        </nav>
    {% endif %}
</footer>

<script type="text/javascript">
    const heart = document.getElementById("heart");

    heart.onclick = () => {
      const audio = new Audio("https://github.com/Apexal/rcos_io/blob/main/rcos_io/static/audio/bill_viva_cut.mp3?raw=true");
      audio.play();
    };
</script>
