<nav class="navbar is-danger is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item {% if request.path == '/' %}is-active{% endif %}" href="/">
                <img style="border-radius: 5px;"
                    src="https://raw.githubusercontent.com/rcos/rcos-branding/master/img/pill-white.png" height="28" alt="RCOS logo">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="top-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="top-navbar" class="navbar-menu">
            <div class="navbar-start">
                {% include "portal/includes/navbaritem.html" with view_name="users_index" display="Users" %}
                {% include "portal/includes/navbaritem.html" with view_name="projects_index" display="Projects" %}
                {% include "portal/includes/navbaritem.html" with view_name="meetings_index" display="Meetings" %}
                
                {% if request.user.is_authenticated and request.user.is_approved %}
                {% include "portal/includes/navbaritem.html" with view_name="small_groups_index" display="Small Groups" %}
                {% endif %}
                {% include "portal/includes/navbaritem.html" with view_name="handbook" display="Handbook" %}
            </div>

            <div class="navbar-end">
                {% if request.user.is_authenticated %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Logged in as&nbsp;<strong>{{ request.user }}</strong></a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url 'profile' %}">Your Profile</a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{% url 'magiclink:logout' %}?next=/">Logout</a>
                    </div>
                </div>
                {% else %}
                <div class="navbar-item">
                    <a href="{% url 'magiclink:login' %}" class="button is-white">
                        <strong>Log in</strong>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {

                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

            });
        });

    });
</script>